# Dependencies
node_modules/
.pnp
.pnp.*

# Build
.next/
out/
build/

# Env
.env
.env.local
.env*.local

# Debug
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# TypeScript
next-env.d.ts
*.tsbuildinfo

# Vercel
.vercel
